/*
* Custom class css Ciberfem Fanzine
*
*/



/***** FUENTES ******/


/* Roboto Slab 300 - Roboto Slab Light */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/RobotoSlab-Light.ttf);
}


/* Roboto Slab 600 - Roboto Slab Bold */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/RobotoSlab-Bold.ttf);
}



/***** GENERALES ******/


body {
  font-family: Roboto Slab, serif;
  color: #333;
  color: rgba(0,0,0,0.5);
  font-weight:300;
  font-size: 18pt;
}

a{
  text-decoration:none;
  color: #f68c5c;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Roboto Slab, serif;
  font-weight: 700;
  margin:0;
  padding:0;
  color:#444;
  max-width: 100%;
}

h1 {
  font-size: 5.5rem;
  line-height: 1;
  margin-bottom:20px;
  text-align: center;
}

h2 {
  font-size: 4rem;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  text-align:left;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width:90%
  position: relative;
}


.titulo1 h1, .titulo2 h1, .titulo3 h1, .titulo4 h1, .titulo5 h1,
.titulo6 h1, .titulo7 h1, .titulo8 h1 {
  text-align: center!important;
  font-weight:600;
}

.resaltar {
  background-color: #ffe6da;
}

.numero  {
  text-align: center;
  color:#f68c5c;
  font-size: .8em;
  font-weight: 400;
  margin-bottom:40px;
}


/***** FLECHAS Y NAVEGACIÓN******/


.fp-controlArrow.fp-prev {
  background: url(media/prev.svg);
  left: 30px!important;
  border: 0;
  position: absolute;
  width: 40px!important;
  padding: 40px 10px;
  background-repeat: no-repeat;
  background-size: contain;
}
.fp-controlArrow.fp-next {
  background: url(media/next.svg);
  right: 50px!important;
  border: 0;
  position: absolute;
  width: 40px!important;
  padding: 40px 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background:#f68c5c!important;
}


.fp-tooltip, #fp-nav ul li .fp-tooltip {
  visibility: hidden;
}

.fp-slidesNav.fp-bottom {
  text-align: center;
}


/***** SECCIONES ******/


#section0 .wrap {
  max-width: 600px;
}

#section0 h1 {
  color:#333;
  text-align:center;
  font-size: 5.5rem;
}

#section0 h3 {
  font-weight:200;
  line-height: 1.3;
  margin-bottom: 20px;
  text-align: left;
  font-size: 3rem;
  text-align: center;
}

#section0 img {
  width:100%;
  max-width: 450px;
  height:auto;
  margin-bottom:20px;
}

#section0 .btn-descarga1 {
  background-color: #f68c5c;
  color:#fff;
  padding: 10px 20px;
  border-radius: 30px;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  cursor:pointer;
}

#section0 .btn-descarga2 {
  background-color: #ffe6da;
  padding: 10px 20px;
  border-radius: 30px;
  border: 0;
  font-size: 1rem;
  font-weight: 400;
  cursor:pointer;
}

#section0 .btn-descarga2 a {
  color:#f68c5c;
}

#section0 .descarga-btn {
  display:block;
  margin:15px 0 30px;
}

#section0 .btn-naranja a{
  color:#fff;
}


#section2 p, #section3 p {
  text-align: center;
}


#section4 h2, #section5 h2, #section6 h2 {
  text-align: left;
}

#section4 img {
  max-width: 400px;
  margin:0 40px 20px 0;
  float: left;
}

#section4 img, #section6 img  {
  max-width: 400px;
  margin:0 40px 45px 0;
  float: left;
}

#section5 img {
  max-width: 400px;
  margin:0  40px;
  float:right;
}


#section5 h1 {
  margin-bottom: 40px;
}


#section7 {

}

#section8 .titulo8 {

  background:url(media/back.png);
  background-repeat:no-repeat;
  background-position: right;

}

#section8 h2 {
  text-align: left;
}


/***** MENÚ ******/


.MenuTopNav {
  position: fixed;
  top: 0;
  width:100%;
  z-index: 1;
}

.buttonToggle {
  float:right;
}

.buttonToggle button {
  width: 20px;
  height: 20px;
  background-size: cover;
  background: url(media/bars-solid.svg) no-repeat;
  border: 0;
  margin: 2em;
  cursor: pointer;
}

button:active, button:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

#myTopnav {
  width:80%;
}


#myTopnavMobile {
  float: right;
  display: none; }


  #myTopnavMobile select {
    color: #f68c5c;
    font-family: Roboto Slab, serif;
    border: 0;
    background: transparent;
    font-size: .7em;
  }

  #menu{
    position: initial;
    top: 0;
    right: 0;
    height: 40px;
    z-index: 70;
    padding: 10px;
    margin: 0 auto;
  }

  #menu li {
    display:inline-block;
    margin: 10px;
    color: #f68c5c;
    font-size: 1rem;

  }
  #menu li.active{
    color: ##f68c5c;
    font-weight: 600;
  }
  #menu li a{
    text-decoration:none;
    color: #f68c5c;
  }
  #menu li.active a:hover{
    font-weight: 600;
  }
  #menu li:hover{
    font-weight: 600;
  }
  #menu li a,
  #menu li.active a{
    padding: 10px 10px;
    display:block;

  }
  #menu li.active a{
    color: #f68c5c;
  }


  /********************    RESPONSIVE    *********************/



  /* 320 x 767 Mobile */
  @media only screen and (min-width: 320px) and (max-width: 767px) {

    #myTopnavMobile {
      display: block; }


      .buttonToggle button,
      #myTopnav  {
        display: none; }


        .fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
          display:none;
        }

      }


      /* Max-width: 600px */
      @media only screen and (max-width: 600px) {


        .descargas {
          display: block;
        }

        .fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
          width:0;
        }

        .section {
          padding-top: 0;
        }
        .wrap {
          width: 80%;
          padding: 0 2em 0 1em;
        }

        #section0 img {
          max-width: 200px;
          margin: 0 auto;
        }

        #section1 p {
          hyphens:auto;
        }


        .titulo1 h1 {
          hyphens:auto !important;
        }

        h1 {
          font-size: 10vw;
        }

        h2 {
          font-size: 7vw;
        }

        p {
          font-size: 4.5vw;
        }

        .numero {
          margin-bottom:20px;
          font-size: .9rem;
        }

        #section4 img, #section6 img {

          max-width: 300px;
          width: 100%;
          margin: 0 15px 30px 0px;
          float:none;
        }

        #section5 img {

          max-width: 300px;
          margin: 0 20px 30px 0;
          float:none;}

        #section8 .titulo8 {
          background-size: cover;
        }

        }
